<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLabo</title>
    <link href="http://fonts.googleapis.com/earlyaccess/notosansjp.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
</head>
<body>
    <div id="vue_app" class="container">
        <header class="sidebar__item">
            <h1 style="margin: 0px; float: left;"><a href="/">SQLabo</a></h1>

            <div id="lang_change" style="float: right; margin-right: 8px">
                <label>
                    <input type="radio" class="radio_btn" name="lang-button" value="en" v-model="language">
                    English
                </label>
                <br>
                <label>
                    <input type="radio" class="radio_btn" name="lang-button" value="ja" v-model="language">
                    日本語
                </label>
            </div>

            <div style="float: left;">
                <div v-if="user_info === 'forms'" style="margin-left: 8px;">
                    <form>
                        <input type="text" size="16" v-model="user_name" placeholder="username" v-show="isEnglish">
                        <input type="text" size="16" v-model="user_name" placeholder="ユーザ名" v-show="isJapanese">
                        <input type="password" size="16" v-model="user_password" placeholder="password" v-show="isEnglish">
                        <input type="password" size="16" v-model="user_password" placeholder="パスワード" v-show="isJapanese">

                        <a class="btn" v-on:click="login" v-bind:disabled="user_accessing">
                            <span v-show="isEnglish">Login</span>
                            <span v-show="isJapanese">ログイン</span>
                        </a>

                        <a
                            href="/signup/en" target="_blank" rel="noopener noreferrer" class="btn_alt"
                            onclick="window.open('/signup/en', '', 'width=300,height=400'); return false;"
                            v-bind:disabled="user_accessing" v-show="isEnglish" >
                            <span>Register</span>
                        </a>
                        <a
                            href="/signup/ja" target="_blank" rel="noopener noreferrer" class="btn_alt"
                            onclick="window.open('/signup/ja', '', 'width=300,height=400'); return false;"
                            v-bind:disabled="user_accessing" v-show="isJapanese" >
                            <span>登録</span>
                        </a>

                        <a
                            href="/forgot_password" target="_blank" rel="noopener noreferrer" class="btn_alt"
                            onclick="window.open('/forgot_password/en', '', 'width=420,height=560'); return false;"
                            v-bind:disabled="user_accessing" v-show="isEnglish" >
                            <span>Forgot password?</span>
                        </a>
                        <a
                            href="/forgot_password/ja" target="_blank" rel="noopener noreferrer" class="btn_alt"
                            onclick="window.open('/forgot_password/ja', '', 'width=420,height=560'); return false;"
                            v-bind:disabled="user_accessing" v-show="isJapanese" >
                            <span>パスワードを忘れたら</span>
                        </a>
                    </form>
                </div>

                <span v-else-if="user_info === 'loginned'">
                    <span v-show="isEnglish">User</span>
                    <span v-show="isJapanese">ユーザ名</span>
                    : ${ user_name } (${ user_clear_num }/${ problem_num }
                    <span v-show="isEnglish"> cleared!)</span>
                    <span v-show="isJapanese"> クリア済)</span>

                    <a class="btn" v-on:click="logout" v-bind:disabled="user_accessing">
                        <span v-show="isEnglish">Logout</span>
                        <span v-show="isJapanese">ログアウト</span>
                    </a>
                </span>

                <span style="margin-left: 10px; font-size: 90%; text-align: left;">
                    ${ user_message }
                </span>
            </div>

            <div style="clear: both;"></div>
        </header>

        <main>
            <div>
                <h2 v-show="isEnglish">Problem Select</h2>
                <h2 v-show="isJapanese">問題選択</h2>
                <select name="problem-name" v-model="selected_problem">
                    <option disabled value="" v-show="isEnglish">--Please choose problem--</option>
                    <option disabled value="" v-show="isJapanese">--問題を選んでください--</option>

                    <option v-for="(problem, idx) in problem_list" :key="problem">${ addTrophyMark(problem, idx) }</option>
                </select>
            </div>

            <div v-if="problem_loding">
                <p v-show="isEnglish">Now loading...</p>
                <p v-show="isJapanese">読み込み中...</p>
            </div>
            <div v-else-if="problem_errored">
                <p class="warn" v-show="isEnglish">
                    Problem load failed.<br>
                    Please reload the page.
                </p>
                <p class="warn" v-show="isJapanese">
                    問題の読み込みに失敗しました。<br>
                    ページを再読み込みしてください。
                </p>
            </div>
            <div v-else-if="selected_problem">
                <div>
                    <h2 v-show="isEnglish">Tables</h2>
                    <h2 v-show="isJapanese">テーブル</h2>
                    <div style="display: flex;">
                        <div v-for="table in problem.tables" :key="table.name">
                            <table style="margin: 4px;" class="prepared">
                                <caption>${ table.name }</caption>
                                <tr>
                                    <th v-for="col in table.columns" :key="col">
                                        ${ col }
                                    </th>
                                </tr>
                                <tr v-for="(record, idx) in table.records" :key="idx" v-bind:class="'bg' + idx % 2">
                                    <td v-for="(cell, idx) in record" :key="idx" v-bind:class="isNaN(cell) ? '' : 'number'">
                                        ${ cell }
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>

                <div>
                    <h2 v-show="isEnglish">ERD</h2>
                    <h2 v-show="isJapanese">ER図</h2>
                    <img v-show="isEnglish" v-bind:src="'er/' + removeTrophyMark(selected_problem) + '.png'" alt="ERD not available">
                    <img v-show="isJapanese" v-bind:src="'er/' + removeTrophyMark(selected_problem) + '.png'" alt="ER図はありません">
                </div>

                <!-- Expected & Answer area -->
                <div>
                    <div class="float_pane">
                        <h2 v-show="isEnglish">Expected</h2>
                        <h2 v-show="isJapanese">期待される出力</h2>

                        <!-- Description -->
                        <div class="comment">
                            <p v-show="problem.descriptions" style="margin: 0;">
                                <span style="display: block; font-weight: 800; text-decoration: underline 3px lightgray; margin-bottom: 0.5em;">
                                    <span v-show="isEnglish">Description from Writer</span>
                                    <span v-show="isJapanese">問題についての説明</span>
                                </span>
                                <span v-for="(sentence, idx) in getDescription" key="idx">
                                    ${ sentence }
                                    <br>
                                </span>
                                <br>
                                <span v-show="isEnglish">(Writer(s): ${ getWriters })</span>
                                <span v-show="isJapanese">(作問者: ${ getWriters })</span>
                            </p>
                        </div>

                        <p v-if="problem.expected.order_strict">
                            <span v-show="isEnglish">
                                Be careful!
                                This problem is <span class="caution" style="text-decoration: underline;">order-sensitive</span>!
                            </span>
                            <span v-show="isJapanese">
                                注意：この問題は、<span class="caution" style="text-decoration: underline;">順番も</span>正しくなければいけません。
                            </span>
                        </p>
                        <p v-else>
                            <span v-show="isEnglish">This problem is not order-sensitive.</span>
                            <span v-show="isJapanese">この問題は、順不同です。</span>
                        </p>
                    </div>

                    <div class="float_pane">
                        <h2 v-show="isEnglish">Answer</h2>
                        <h2 v-show="isJapanese">解答</h2>
                        <p>
                            <form @submit.prevent="submitProblem">
                                <textarea name="sql" v-model="sql" class="sql_area" placeholder="Write your SQL here..." v-show="isEnglish"></textarea>
                                <textarea name="sql" v-model="sql" class="sql_area" placeholder="ここに SQL を書いてください..." v-show="isJapanese"></textarea>
                                <br>
                                <button v-on:click="testProblem" v-bind:disabled="sql_submitting">
                                    <span v-show="isEnglish">Run</span>
                                    <span v-show="isJapanese">実行</span>
                                </button>
                                <button v-on:click="submitProblem" v-bind:disabled="sql_submitting">
                                    <span v-show="isEnglish">Submit (need login)</span>
                                    <span v-show="isJapanese">提出 （要ログイン）</span>
                                </button>

                                <!-- Judge Result -->
                                <span v-if="sql_submitting">
                                    <span v-show="isEnglish">Submitting...</span>
                                    <span v-show="isJapanese">提出中...</span>
                                </span>
                                <span v-else-if="sql_submit_error">
                                    <span v-show="isEnglish">Submit failed. Please reload the page.</span>
                                    <span v-show="isJapanese">提出に失敗しました。ページを再読み込みしてください。</span>
                                </span>
                                <span v-else-if="judged" v-bind:class="result">
                                    <span v-bind:class="result" class="result_icon">
                                        ${ result }
                                    </span>
                                    <br>
                                    <span v-show="(result == 'AC' || result == 'WA') && exec_ms">
                                        Execution time: ${ exec_ms }ms
                                    </span>
                                </span>
                                <span v-show="submit_message">
                                    <br>
                                    ${ submit_message }
                                </span>
                            </form>
                            <pre v-if="result === 'PE'" class="code">${ re_message }</pre>
                        </p>
                    </div>

                    <div class="float_end"></div>
                </div>

                <div>
                    <!-- Expected output -->
                    <div class="float_pane">
                        <table class="expected centering">
                            <caption style="white-space: nowrap" v-show="isEnglish">(Output)</caption>
                            <caption style="white-space: nowrap" v-show="isJapanese">(出力例)</caption>
                            <tr>
                                <th v-for="col in problem.expected.expected_columns" :key="col">
                                    ${ col }
                                </th>
                            </tr>
                            <tr v-for="(record, idx) in problem.expected.expected_result" :key="idx" v-bind:class="'bg' + idx % 2">
                                <td v-for="(cell, idx) in record" :key="idx" v-bind:class="!isNaN(cell) ? 'number' : ''">
                                    ${ cell }
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="float_pane">
                        <!-- Result Table by Submitted SQL -->
                        <table v-show="answer_records" v-bind:class="result" class="expected centering">
                            <caption style="white-space: nowrap" v-show="isEnglish">(Your output)</caption>
                            <caption style="white-space: nowrap" v-show="isJapanese">(あなたの出力)</caption>
                            <tr>
                                <th v-for="col in answer_columns" :key="col">
                                    ${ col }
                                </th>
                            </tr>
                            <tr v-for="(record, idx) in answer_records" :key="idx" v-bind:class="'bg' + idx % 2">
                                <td v-for="(cell, idx) in record" :key="idx" v-bind:class="!isNaN(cell) ? 'number' : ''">
                                    ${ cell }
                                </td>
                                <td v-if="wrong_line == idx + 1" class="warn" style="background-color: #FFF;">&lt;</td>
                            </tr>
                        </table>
                    </div>

                    <div class="float_end"></div>
                </div>
            </div>
            <div v-else>
                <p>
                    <span v-show="isEnglish">
                        This is SQL learning application.<br>
                        Please select problem from drop-down list.<br>
                        <br>
                        Do you like posting a problem?<br>
                        Visit <a href="https://github.com/ryhoh/SQLabo" target=”_blank” rel=”noopener”>https://github.com/ryhoh/SQLabo</a> and post new problem!<br>
                        <br>
                        Database Environment:
                    </span>
                    <span v-show="isJapanese">
                        SQL を練習できるアプリケーションです。<br>
                        ドロップダウンリストから、問題を選んでください。<br>
                        <br>
                        作問に興味がある方は，<a href="https://github.com/ryhoh/SQLabo" target=”_blank” rel=”noopener”>https://github.com/ryhoh/SQLabo</a> を覗いてみてください。<br>
                        <br>
                        実行環境：
                    </span>
                    {{ .psql_version }}<br>
                    <span v-show="isEnglish">
                        Note: The answer must be a single-sentence SQL statement.<br>
                        If you write more than one statement, the second and subsequent statements will be ignored.
                    </span>
                    <span v-show="isJapanese">
                        注意：解答は1文の SQL 文でなけらばなりません。<br>
                        複数の文を書いた場合、2文目以降は無視されます。
                    </span>
                </p>
            </div>

            <hr>

            <h2 v-show="isEnglish">Result Categories</h2>
            <h2 v-show="isJapanese">結果の種類</h2>
            <dl>
                <dt class="result_icon AC" style="display:inline">AC</dt>
                <dd v-show="isEnglish">means "ACcepted". There are no errors and your answer is correct.</dd>
                <dd v-show="isJapanese">正答（ACcepted）を意味します。実行時にエラーがなく、正しい結果が得られた状態です。</dd>
                <dt class="result_icon WA" style="display:inline">WA</dt>
                <dd v-show="isEnglish">means "Wrong Answer". There are no errors but your answer is wrong.</dd>
                <dd v-show="isJapanese">誤答（Wrong Answer）を意味します。実行時にエラーはないものの、結果が正しくない状態です。</dd>
                <dt class="result_icon PE" style="display:inline">PE</dt>
                <dd v-show="isEnglish">means "Programming Error". There are some errors and DBMS couldn't execute your code.</dd>
                <dd v-show="isJapanese">解答にエラーが存在することを意味します（Programming Error）。これも誤答扱いです。</dd>
            </dl>

            <div v-show="user_info === 'loginned'">
                <hr>
                <h2 v-show="isEnglish">Progress</h2>
                <h2 v-show="isJapanese">進捗</h2>
                <svg id="heatmap"></svg>
                <div id="tooltip" style="opacity: 0;">
                    <p>
                        <span id="tooltip_ac"></span>
                        <span id="tooltip_value"></span>
                    </p>
                </div>
            </div>

            <hr>

            <footer>
                ryhoh, 2021-.
            </footer>
        </main>
    </div>

    <script src="static/main.js"></script>
</body>
</html>