<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SQLabo</title>
    <link rel="stylesheet" href="static/style_template.css">
    <link rel="stylesheet" href="static/style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="vue_app" class="container">
        <header class="sidebar__item">
            <h1 style="margin: 0px; float: left;">SQLabo</h1>
            
            <div id="lang_change" style="float: right">
                <label>
                    <input type="radio" name="lang-button" value="en" v-model="language">
                    English
                </label>
                <br>
                <label>
                    <input type="radio" name="lang-button" value="ja" v-model="language">
                    日本語
                </label>
            </div>

            <h2 v-show="is_english" style="float: left">Login</h2>
            <h2 v-show="is_japanese" style="float: left">ログイン</h2>

            <h2 v-show="is_english" style="float: left">Problems</h2>
            <h2 v-show="is_japanese" style="float: left">問題選択</h2>

            <div style="clear: both;"></div>
        </header>

        <main>
            <div>
                <h2 v-show="is_english">Problem Select</h2>
                <h2 v-show="is_japanese">問題選択</h2>
                <select name="problem-name" v-model="selected_problem">
                    <option disabled value="" v-show="is_english">--Please choose problem--</option>
                    <option disabled value="" v-show="is_japanese">--問題を選んでください--</option>
                    <option v-for="problem in problem_list" :key="problem">
                        {{ problem }}
                    </option>
                </select>
            </div>

            <div v-if="problem_loding">
                <p v-show="is_english">Now loading...</p>
                <p v-show="is_japanese">読み込み中...</p>
            </div>
            <div v-else-if="problem_errored">
                <p class="warn" v-show="is_english">
                    Problem load failed.<br>
                    Please reload the page.
                </p>
                <p class="warn" v-show="is_japanese">
                    問題の読み込みに失敗しました。<br>
                    ページを再読み込みしてください。
                </p>
            </div>
            <div v-else-if="selected_problem">
                <div>
                    <h2 v-show="is_english">Tables</h2>
                    <h2 v-show="is_japanese">テーブル</h2>
                    <div style="display: flex;">
                        <div v-for="table in tables" :key="table.name">
                            <table style="margin: 4px;" class="prepared">
                                <caption>{{ table.name }}</caption>
                                <tr>
                                    <th v-for="col in table.columns" :key="col">
                                        {{ col }}
                                    </th>
                                </tr>
                                <tr v-for="(record, idx) in table.records" :key="idx" v-bind:class="'bg' + idx % 2">
                                    <td v-for="(cell, idx) in record" :key="idx">
                                        {{ cell }}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                
                <!-- Expected & Answer area -->
                <div>  
                    <div class="float_pane">
                        <h2 v-show="is_english">Expected</h2>
                        <h2 v-show="is_japanese">期待される出力</h2>

                        <!-- Description -->
                        <div class="comment">
                            <p v-show="description" style="margin: 0;">
                                <span style="display: block; font-weight: 800; text-decoration: underline 3px lightgray; margin-bottom: 0.5em;">
                                    <span v-show="is_english">Description from Writer</span>
                                    <span v-show="is_japanese">問題についての説明</span>
                                </span>
                                <span v-for="(sentence, idx) in description" key="idx">
                                    {{ sentence }}
                                    <br>
                                </span>
                            </p>
                        </div>

                        <p v-if="order_sensitive">
                            <span v-show="is_english">
                                Be careful!
                                This problem is <span class="caution" style="text-decoration: underline;">order-sensitive</span>!
                            </span>
                            <span v-show="is_japanese">
                                注意：この問題は、<span class="caution" style="text-decoration: underline;">順番も</span>正しくなければいけません。
                            </span>
                        </p>
                        <p v-else>
                            <span v-show="is_english">
                                This problem is not order-sensitive.
                            </span>
                            <span v-show="is_japanese">
                                この問題は、順不同です。
                            </span>
                        </p>
                    </div>

                    <div class="float_pane">
                        <h2 v-show="is_english">Answer</h2>
                        <h2 v-show="is_japanese">解答</h2>
                        <p>
                            <form @submit.prevent="submit_problem">
                                <textarea name="sql" cols="50" v-model="sql" class="sql_area" placeholder="Write your SQL here..." v-show="is_english"></textarea>
                                <textarea name="sql" cols="50" v-model="sql" class="sql_area" placeholder="ここに SQL を書いてください..." v-show="is_japanese"></textarea>
                                <br>
                                <button v-on:click="submit_problem" v-bind:disabled="sql_submitting">
                                    <span v-show="is_english">
                                        Submit
                                    </span>
                                    <span v-show="is_japanese">
                                        提出
                                    </span>
                                </button>

                                <!-- Judge Result -->
                                <span v-if="sql_submitting">
                                    <span v-show="is_english">Submitting...</span>
                                    <span v-show="is_japanese">提出中...</span>
                                </span>
                                <span v-else-if="sql_submit_error">
                                    <span v-show="is_english">Submit failed. Please reload the page.</span>
                                    <span v-show="is_japanese">提出に失敗しました。ページを再読み込みしてください。</span>
                                </span>
                                <span v-else-if="judged" v-bind:class="result" class="result_icon">
                                    {{ result }}
                                </span>
                            </form>
                            <pre v-if="result === 'PE'" class="code">{{ re_message }}</pre>
                        </p>
                    </div>

                    <div class="float_end"></div>
                </div>

                <div>
                    <!-- Expected output -->
                    <div class="float_pane">
                        <table class="expected centering">
                            <caption>(Output)</caption>
                            <tr>
                                <th v-for="col in expected_columns" :key="col">
                                    {{ col }}
                                </th>
                            </tr>
                            <tr v-for="(record, idx) in expected_records" :key="idx" v-bind:class="'bg' + idx % 2">
                                <td v-for="(cell, idx) in record" :key="idx">
                                    {{ cell }}
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="float_pane">
                        <!-- Result Table by Submitted SQL -->
                        <table v-show="answer_records" v-bind:class="result" class="expected centering">
                            <caption style="white-space: nowrap">(Your output)</caption>
                            <tr>
                                <th v-for="col in answer_columns" :key="col">
                                    {{ col }}
                                </th>
                            </tr>
                            <tr v-for="(record, idx) in answer_records" :key="idx" v-bind:class="'bg' + idx % 2">
                                <td v-for="(cell, idx) in record" :key="idx">
                                    {{ cell }}
                                </td>
                                <td v-if="wrong_line == idx + 1" class="warn" style="background-color: #FFF;">&lt;</td>
                            </tr>
                        </table>
                    </div>

                    <div class="float_end"></div>
                </div>
            </div>

            <hr>

            <h2 v-show="is_english">Result Categories</h2>
            <h2 v-show="is_japanese">結果の種類</h2>
            <dl>
                <dt class="result_icon AC" style="display:inline">AC</dt>
                <dd v-show="is_english">means "Accepted". There are no errors and your answer is correct.</dd>
                <dd v-show="is_japanese">正答（Accepted）を意味します。実行時にエラーがなく、正しいクエリ結果が得られた状態です。</dd>
                <dt class="result_icon WA" style="display:inline">WA</dt>
                <dd v-show="is_english">means "Wrong Answer". There are no errors but your answer is wrong.</dd>
                <dd v-show="is_japanese">誤答（Wrong Answer）を意味します。実行時にエラーはないものの、クエリ結果が正しくない状態です。</dd>
                <dt class="result_icon PE" style="display:inline">PE</dt>
                <dd v-show="is_english">means "Programming Error". There are some errors and DBMS couldn't execute your code.</dd>
                <dd v-show="is_japanese">クエリにエラーが存在することを意味します（Programming Error）。これも誤答扱いです。</dd>
            </dl>
        
            <hr>

            <footer>
                2021 Apr. Shirosha2
            </footer>
        </main>
    </div>

    <script src="static/main.js"></script>
</body>
</html>