:root {
    --ac: rgb(102, 176, 106);
    --wa: rgb(255, 167,  38);

    --prepared-th-bg:   rgb(  3, 155, 229);
    --prepared-td-bg-0: rgb(129, 212, 250);
    --prepared-td-bg-1: rgb(179, 229, 252);

    --wrong-th-bg:   rgb(255, 167,  38);
    --wrong-td-bg-0: rgb(255, 224, 130);
    --wrong-td-bg-1: rgb(255, 245, 157);

    --accepted-th-bg:   rgb(102, 176, 106);
    --accepted-td-bg-0: rgb(197, 225, 165);
	--accepted-td-bg-1: rgb(230, 238, 156);

    /* same to accepted */
    --expected-th-bg:   var(--accepted-th-bg  );
    --expected-td-bg-0: var(--accepted-td-bg-0);
    --expected-td-bg-1: var(--accepted-td-bg-1);
}

/* タグのスタイルのオーバーライド */
h1 {
    border-color: rgb(  3, 155, 229);
}

h2 {
    border-color: rgb(129, 212, 250);;
}

table {
	border-spacing: 3px;
}

/* クラスごとの設定 */
.float_pane {
    float: left;
    width: 480px;
    margin-right: 40px;
}

.float_end {
    clear: left;
}

.centering {
    margin-left: auto;
    margin-right: auto;
}

.sql_area {
    resize: vertical;
	min-height: 80px;
}

.result_icon {
    color: #FFF;
    font-weight: 600;
    padding: 2px 4px;
    border-radius: 4px;
    margin-top: 8px;
}

.result_icon.AC {
    background: var(--ac);
}

.result_icon.WA, .result_icon.TLE, .result_icon.PE {
    background: var(--wa);
}

.prepared th {
	background-color: var(--prepared-th-bg);
}

.prepared tr.bg0 td {
	background-color: var(--prepared-td-bg-0);
}

.prepared tr.bg1 td {
	background-color: var(--prepared-td-bg-1);
}

.expected th {
	background-color: var(--expected-th-bg);
}

.expected tr.bg0 td {
	background-color: var(--expected-td-bg-0);
}

.expected tr.bg1 td {
	background-color: var(--expected-td-bg-1);
}

.AC th {
	background-color: var(--accepted-th-bg);
}

.AC tr.bg0 td {
	background-color: var(--accepted-td-bg-0);
}

.AC tr.bg1 td {
	background-color: var(--accepted-td-bg-1);
}

.WA th {
	background-color: var(--wrong-th-bg);
}

.WA tr.bg0 td {
	background-color: var(--wrong-td-bg-0);
}

.WA tr.bg1 td {
	background-color: var(--wrong-td-bg-1);
}

.code {
    background-color: lightgray;
}

.comment {
    display: inline-block;
    margin: 0px;
    padding: 0.5em;
    border: solid lightgray 3px;
}

dd {
    margin-bottom: 1.5em;
}
