<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLabo: Forgot Password</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        input { margin-left: 20px; }
        .frame {
            display: table;
            margin: 10px;
        }
        #button {
            text-decoration: none;
            padding: 5px;
            border-radius: 6px;
            background-color: var(--second-color);
            color: white;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <h1>Forgot password</h1>
    <div class="frame">
        <form id="submit_form" method="POST" action="/request_reset_password">
            <p>
                To reset your password, please type your email address.<br>
                (A mail will be sent)<br>
                <br>

                Mail Address:<br>
                <input id="email" name="email" type="email" size="32" placeholder="someone@example.com"><br>
                <input name="language" type="hidden" value="en"><br>

                <span id="error_message" class="warn">
                    <!-- error message here -->
                </span>

                <div style="text-align: center;">
                    <a id="button" onclick="signup();">Send</a>
                </div>
            </p>
        </form>
    </div>

    <script>
        let processing = false;

        function signup() {
            if (processing) return;  // block during processing

            processing = true;
            document.getElementById('button').style.backgroundColor = 'gray';

            const email = document.getElementById('email').value;
            const error = find_error(email);
            if (null !== error) {
                document.getElementById('error_message').innerText = error;
                document.getElementById('button').style.backgroundColor = 'var(--h2-sub)';
                processing = false;
                return;
            }

            document.getElementById('submit_form').submit();
        }

        function find_error(email) {
            if ('' === email)
                return 'Mail Address can\'t be empty.';
            if (!email.includes('@'))
                return 'Invalid Mail Address.';
            return null;
        }
    </script>
</body>
</html>
