<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQLabo: Reset Password</title>
    <link rel="stylesheet" href="/static/style.css">
    <style>
        input { margin-left: 20px; }
        .frame {
            display: table;
            margin: 10px;
        }
        #button {
            text-decoration: none;
            padding: 5px;
            border-radius: 6px;
            background-color: var(--h2-sub);
            color: white;
            cursor: pointer;
        }

    </style>
</head>
<body>
    <h1>Reset password</h1>
    <div class="frame">
        <form id="submit_form" method="POST" action="/update_password">
            <p>
                Password （パスワード）:<br>
                <input id="password" name="password" type="password" size="32" placeholder="password"><br>

                Confirm Password （パスワード）:<br>
                <input id="password_confirm" name="password_confirm" type="password" size="32" placeholder="password"><br>

                <input name="ms_id" type="hidden" value="{{ ms_id }}"><br>

                <span id="error_message" class="warn">
                    <!-- error message here -->
                </span>

                <div style="text-align: center;">
                    <a id="button" onclick="signup();">Reset （リセット）</a>
                </div>
            </p>
        </form>
    </div>

    <script>
        let processing = false;

        function signup() {
            if (processing) return;  // block during processing

            processing = true;
            document.getElementById('button').style.backgroundColor = 'gray';

            const password = document.getElementById('password').value;
            const password_confirm = document.getElementById('password_confirm').value;

            const error = find_error(password, password_confirm);
            if (null !== error) {
                document.getElementById('error_message').innerText = error;
                document.getElementById('button').style.backgroundColor = 'var(--h2-sub)';
                processing = false;
                return;
            }

            document.getElementById('submit_form').submit();
        }

        function find_error(password, password_confirm) {
            if ('' === password)
                return '<p>Password can\'t be empty.<br>パスワードが空欄になっています。</p>';
            if (password.length < 8 || 60 < password.length)
                return 'Password must be in 8 ~ 60 letters!<br>パスワードは8文字以上60文字以内である必要があります。';
            if (password !== password_confirm)
                return '<p>Passwords are not same.<br>パスワードが一致していません。</p>';
            return null;
        }
    </script>
</body>
</html>
